.center {
    display : block;
    maring : auto;
}

.backgrounddarkblue {
    background-color : #f9f9f9;
    border : 15px solid transparent;
    border-color : $grey-2;
    padding: 15px;
}

.centerthetext {
    color: $default-tint;
    display: block;
    font-family: $sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }
