.container {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

main,
footer,
.nav-container {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

.nav {
  box-shadow: 0 2px 2px -2px $shadow-color;
  overflow: auto;

  &-container {
    margin: 1rem auto;
    position: relative;
    text-align: center;
  }

  &-title {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    margin: 0;
    padding-right: .2rem;
    border-bottom: none;

    &:hover,
    &:focus {
      opacity: .6;
    }
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    text-align: center;
  }

  li {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    opacity: .6;
    padding: 0 2rem 0 0;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  a {
    color: $default-color;
    font-family: $Palatino;
  }
}

@media (min-width: 600px) {
  .nav {
    &-container {
      text-align: left;
    }

    ul {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}

.tag {
  a {    
    @include transition(all .2s ease-out);
    color: $default-color;
    font-family: $Palatino;
    
    &:hover,
    &:focus {
      opacity: .6;
    }
  }
  .tagname{
    @include transition(all .2s ease-out);
    display: inline-block;
    a {
      color: $default-color;
      font-family: $Palatino;
    }
    &:hover,
    &:focus {
      opacity: .6;
    }
  }
}

footer {
  font-family: $Palatino;
  padding: 2rem 0;
  text-align: center;
/*  .copyright {
  }
*/

  .accounts {
    margin-top: 2px;
    margin-bottom: 2px;
    a:hover { opacity: .6;}
  }
  
  span {
    color: $default-color;
    font-size: .8rem;
  }
  a {
    color: $default-color;
    text-decoration: underline;
  }
  a:hover {
    opacity: .6
  }
}

#markdown-toc::before {
  content: "목차";
  font-weight: bold;
  font-size:20px;
}

#markdown-toc{
  ul {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
  }
  
  li:before {
      content: counters(item, ".") ". ";
      display: table-cell;
      padding-right: 0.6em;    
  }
  
  li li {
      margin: 0;
  }
  
  li li:before {
      content: counters(item, ".") " ";
  }
  
}

// Using numbers instead of bullets for listing
#markdown-toc ul {
  list-style: decimal;
}

#markdown-toc {
  border: 1px solid #e5e5e5;
  background: #f9f9f9;
  padding: 14px 1.5em 0.5em 1.5em;
  list-style: decimal;
  display: inline-block;
  text-underline-offset: 3px;
}